body {
  background-color: rgb(128, 128, 128, 0.2);
}
.modal-img {
  width: 90%;

}
.pagination .page-link {
  color: #000000;
}
.pagination .page-link:hover {
  color: #f2c94c;
}
.link-dark:hover {
  color: #f2c94c;
}
.highlighted {
  color: #006400;
  font-weight: bolder;
}
.fa-heart {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
}
.card:hover {
  box-shadow: 10px 0px 8px rgba(128, 128, 128, 1);
}
.flag-img {
  margin-right: 10px;
}